@tailwind base;

body {
  font-family: 'Helvetica Neue', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Arial, Roboto, -apple-system, BlinkMacSystemFont, YuGothic, 'メイリオ', Meiryo, sans-serif;
  color: #000;
  background: #fff;
}
